{% extends "base.html" %}

{% block content %}
<div class="mainimage" style="background-color:#f2f2f2;">
<div style="top:0;heigth:1px;>
</div>
<div style="color:#08c;margin-top:50px;height:100px;width:600px;margin-left:auto;margin-right:auto;font-size:50px;">
{% if message %}
<p>{{message}}</p>
{% endif %}
{% if user.is_authenticated %}
<div style="margin-left:auto;margin-right:auto;width:950px;">
<h3>Click <a href="/rewards/">here</a> or on Rewards to view your offers!</h3>
</div>
{% endif %}

</div>
</div>

{% endblock %}
